*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    text-decoration:none;
    list-style:none;
    font-family:'Poppins',sans-serif;
}

body{
    background-image: url("../image/bg.png");
    background-size: 100vw 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.loginContainer{
    width: 500px;
    position: absolute;
    right: 0;
    opacity: 1;
    margin: 5px 100px 0 0;
    padding:20px 50px 20px 50px;
    background: rgb(248, 221, 221);
    border-radius: 30px;
    
}

.logo{
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo i{
    width:70px;
    height:70px;
    border-radius:50%;
    background:linear-gradient(135deg,#2f3032,#101214);
    display:flex;
    justify-content:center;
    align-items:center;
    color:rgb(255, 255, 255);
    font-size:28px;
    margin-bottom:25px;
    transition:.4s;
}
.samwad{
    text-align: center;
}

.input-sec{
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}
input{
    width: 100%;
    height:40px;
    border-radius: 5px;
    border: none;
    font-size: large;
    background: rgb(241, 246, 224);
    text-decoration: none;
}

.remember{
    display:flex;
    justify-content:space-between;
    align-items:center;
    margin:20px 0;
}

.remember label{
    display:flex;
    align-items:center;
    gap:8px;
    color:rgb(3, 3, 3);
    
}

.remember input{
    width:18px;
    height:18px;
    accent-color:#2563eb;
}

.remember a{
    color:rgb(34, 10, 139);
    text-decoration:none;
    
}

.ribbon{
    background: #525252;
    height: 1px;
    margin-top: 30px;
    text-align: center;
    z-index: 1;
    
}

.login{
    width:100%;
    height:50px;
    border:none;
    border-radius:20px;
    background:linear-gradient(135deg,#0066ff,#00a2ff);
    color:white;
    font-size:20px;
    cursor:pointer;
    transition:.4s;
    box-shadow:0 15px 35px rgba(0,102,255,.30);

}

.login i {
    gap: 20px;
}

.option{
    width:100%;
    padding:80px 0 10px 0;
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    gap:30px;
}
.card{
    padding:35px;
    border-radius:25px;
    background:rgba(255,255,255,.75);
    backdrop-filter:blur(14px);
    -webkit-backdrop-filter:blur(14px);
    border:1px solid rgba(255,255,255,.4);
    box-shadow:0 15px 35px rgba(0,0,0,.08);
    transition:.4s;
    cursor:pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}
.card i{
    justify-content:center;
    align-items:center;
    color:linear-gradient(135deg,#adddb3,#181bce);
    font-size:20px;
    /* margin-bottom:25px; */
    transition:.4s;
}
